{% extends 'base.html' %}
{% block content %}
<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sport Events</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for event in events %}
                <div class="event col-md-3">
                    <p>{{ event.SportName }}</p>
                    <p>{{ event.Description }}</p>
                    <p>{{ event.StartTime }}</p>
                    <p>{{ event.EndTime }}</p>
                    <a href="{{ url_for('joinevent',eID = event.EventID) }}"><i class="fa fa-3x fa-sign-in" aria-hidden="true"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}